@model ResumeWorkspace.Models.Person

@section Home_About {
    <link href="@Url.Content("~/Content/home_about.css")" rel="stylesheet" type="text/css" />
}

    <h1>
        <span>Employment</span>
        <a href="@Url.Action("AddEmployment","Employment")" class="btn btn-success btn-sm margin-right pull-right">
            <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Employment</span>
        </a>
    </h1>
    
    @foreach (var emp in Model.EmploymentHistory)
    {
            <h2>
                <span>@emp.Employer</span>
                <a href="@Url.Action("DeleteEmployment","Employment", new { id = @emp.Id })" class="btn btn-danger btn-sm margin-right pull-right">
                    <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Delete</span>
                </a>
                <a href="@Url.Action("EditEmployment","Employment", new { id = @emp.Id })" class="btn btn-warning btn-sm margin-right pull-right">
                    <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                </a>
            </h2>

            <h2>@emp.Address</h2>
            <h2>@emp.City, @emp.State  @emp.Zip</h2>
            <h2>Website: @emp.Website</h2>
            <h3 class="field-description">@emp.Description</h3>
            <h3>Start Date: @emp.StartDate.ToShortDateString() End Date: @emp.EndDate</h3>

            <h1>
                <span>Positions</span>
                <a href="@Url.Action("AddPosition","Employment", new { id = @emp.Id })" class="btn btn-success btn-sm margin-right pull-right">
                    <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Position</span>
                </a>
            </h1>

            foreach (var pos in emp.Positions)
            {

            <h2>
                <span>@pos.Title</span>
                <a href="@Url.Action("DeletePosition","Position", new { id = @pos.Id })" class="btn btn-danger btn-sm margin-right pull-right">
                    <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Delete</span>
                </a>
                <a href="@Url.Action("EditPosition","Position", new { id = @pos.Id })" class="btn btn-warning btn-sm margin-right pull-right">
                    <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                </a>
            </h2>

            <h3>Start Date: @emp.StartDate End Date: @emp.EndDate</h3>
            foreach (var acc in pos.Accomplishments)
            {
            <h3>@acc.Description</h3>
            }
            foreach (var con in pos.Contacts)
            {
            <h3>@con.Name</h3>
            <h3>@con.Title</h3>
            <h3>@con.Email</h3>
            <h3>@con.Phone</h3>
            }

            }

            }

            <h1>
                <span>Education</span>
                <a href="@Url.Action("AddEducation","Education")" class="btn btn-success btn-sm margin-right pull-right">
                <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Education</span>
                </a>
            </h1>


            @foreach (var edu in Model.EducationHistory)
            {
                <h2>
                    <span>@edu.Institution - @edu.Degree</span>
                    <a href="@Url.Action("DeleteEducation","Education", new { id = @edu.Id })" class="btn btn-danger btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Delete</span>
                    </a>
                    <a href="@Url.Action("EditEducation","Education", new { id = @edu.Id })" class="btn btn-warning btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                </h2>
            }

            <h1>
                <span>Certifications</span>
                <a href="@Url.Action("AddCertification","Certification")" class="btn btn-success btn-sm margin-right pull-right">
                    <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Certification</span>
                </a>
            </h1>


            @foreach (var cer in Model.CertificationHistory)
            {
                <h2>
                    <span>@cer.Organization - @cer.Type</span>
                    <a href="@Url.Action("DeleteCertification","Certification", new { id = @cer.Id })" class="btn btn-danger btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Delete</span>
                    </a>
                    <a href="@Url.Action("EditCertification","Certification", new { id = @cer.Id })" class="btn btn-warning btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                </h2>
            }

            <h1>
                <span>Skills</span>
                <a href="@Url.Action("AddSkill","Skill")" class="btn btn-success btn-sm margin-right pull-right">
                    <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Skill</span>
                </a>
            </h1>


            @foreach (var skl in Model.SkillHistory)
            {
                <h2>
                    <span>@skl.Type</span>
                    <a href="@Url.Action("DeleteSkill","Skill", new { id = @skl.Id })" class="btn btn-danger btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Delete</span>
                    </a>
                    <a href="@Url.Action("EditSkill","Skill", new { id = @skl.Id })"  class="btn btn-warning btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                </h2>
            }

                <h1>
                    <span>Affiliations</span>
                    <a href="@Url.Action("AddAffiliation","Affiliation")" class="btn btn-success btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-plus"></span><span class="hidden-xs"> Add Affiliation</span>
                    </a>
                </h1>

            @foreach (var afl in Model.AffiliationHistory)
            {
                <h2>
                    <span>@afl.Organization - @afl.Type</span>
                    <a href="@Url.Action("DeleteAffiliation","Affiliation", new { id = @afl.Id })" class="btn btn-danger btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Delete</span>
                    </a>
                    <a href="@Url.Action("EditAffiliation","Affiliation", new { id = @afl.Id })" class="btn btn-warning btn-sm margin-right pull-right">
                        <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                    </a>
                </h2>
            }
