@model ResumeWorkspace.Models.Employment

@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-md-6">

               @Html.HiddenFor(m => m.PersonId)
               @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    @Html.LabelFor(m => m.Employer, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Employer, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "4" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Website, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.State, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control small-size" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Zip, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control small-size" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.StartDate, "{0:d}", new { @class = "form-control datepicker small-size" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.EndDate, "{0:d}", new { @class = "form-control small-size datepicker" })
                </div>

            <div class="col-md-12">
                <div class="pad-top">
                    <button type="submit" class="btn btn-success btn-lg margin-right">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </a>
                </div>
            </div>

      </div>
</div>

}
