@model ResumeWorkspace.Models.Certification

@using (Html.BeginForm())
{
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

            @Html.HiddenFor(m => m.PersonId)
            @Html.HiddenFor(m => m.Id)

       <div class="row">
            <div class="col-sm-9 col-xs-12 form-group">
                @Html.LabelFor(m => m.Type, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
            </div>
    
            <div class="col-sm-3 col-xs-6 form-group">
                @Html.LabelFor(m => m.CompletionDate, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CompletionDate, "{0:d}", new { @class = "form-control datepicker" })
            </div>

           <span class="clearfix"></span>
           <div class="col-sm-6 col-xs-12 form-group">
               @Html.LabelFor(m => m.Organization, new { @class = "control-label" })
               @Html.TextBoxFor(m => m.Organization, new { @class = "form-control" })
           </div>
           <span class="clearfix"></span>

           <span class="clearfix"></span>
           <div class="col-sm-6 col-xs-12 form-group">
               @Html.LabelFor(m => m.Website, new { @class = "control-label" })
               @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
           </div>
           <span class="clearfix"></span>

           <span class="clearfix"></span>
           <div class="col-sm-12 col-xs-12 form-group">
               @Html.LabelFor(m => m.Description, new { @class = "control-label" })
               @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "4", cols = "12" })
           </div>
           <span class="clearfix"></span>

           <div class="col-sm-12 col-xs-12 center form-btn">
               <button type="submit" class="btn btn-success btn-lg btn-space">
                   <span class="glyphicon glyphicon-save"></span> Save
               </button>
               <a href="@Url.Action("Index", "Home")" class="btn btn-warning btn-lg">
                   <span class="glyphicon glyphicon-remove"></span> Cancel
               </a>
           </div>
</div>
}
